<table class="table">
  <thead>
    <tr>
      <th>    </th>
      <th>Name</th>
      <th>Email</th>
      <th>Bio</th>
      <th>Favorite Family Memory</th>

    </tr>
  </thead>
  <% @profile.each do |profile| %>
    <tr>
      <td><%= gravatar_for profile %></td>
      <td><%= profile.name %></td>
      <td><%= profile.email %></td>
      <td><%= profile.bio %></td>
      <td><%= profile.favorite_family_memory %></td>
    </tr>
  <% end %>
</table>