<%= provide(:title, "Family") %>
<table class="table">
  <h1>Family Members Who Are On Our Website</h1>
  <thead>
    <tr>
      <th>    </th>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Location</th>
      <th>Birthday</th>
      <th>Bio</th>
      <th>Favorite Family Memory</th>
    </tr>
  </thead>
    <% @user.each do |user| %>
      <tr>
        <td> <%= gravatar_for user %></td>
        <td><%= link_to user.name, user%></td>
        <td><%= user.profile.age%></td>
        <td><%= mail_to user.email%></td>
        <td><%= user.profile.location%></td>
        <td><%= user.profile.birthday%></td>
        <td><%= user.profile.bio%></td>
        <td><%= user.profile.favorite_family_memory%></td>
      </tr>
    <% end %>
</table>

 
  